.icon {
  width: 20px;
  height: 20px;
}

.head-photo {
    width: 2.0rem;
    height: 2.0rem;
}

.icon-account-login {
  fill: #f00;
}

.search-wrap {
    position: absolute;
    z-index: 20;
    right:95px;
    bottom: 16px;
    display: flex;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    background: #fff;
    overflow: hidden;
    will-change: width;
    transition-delay: .1s;
}

.search-content {
    width: 0;
    height: 38px;
    -ms-flex-pack: end;
    justify-content: flex-end;
    overflow: hidden;
    will-change: width;
    transition-delay: .1s;
}

.search-content .search-input {
    display: inline;
    width: 200px;
    padding: 6px 0;
    margin: 0 10px 0 0;
    text-indent: 6px;
}

.open {
    /*left:-330px;*/
    width:215px;
}



